<div id="jumbo" class="p-5 mb-4 bg-light">
  <div class="container-fluid py-5 text-center">
    <h1 class="display-5 fw-bold">Travel Guide to North American Ski Resorts</h1>
    <p id="jumbotext">A short guide to spending your winter vacations on the slopes</p>
  </div>
</div>