<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ relative_path }}index.html">Ski Resorts Guide</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{{ relative_path }}canadian-resorts.html">Canada Resorts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ relative_path }}american-resorts.html">U.S. Resorts</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Top 10 North America Resorts</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            {% for resort in overall.resorts %}
            <li><a class="dropdown-item" href="{{ relative_path }}resorts/{{ resort.slug }}.html">{{ resort.title }}</a></li>
            {% endfor %}
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>