{% extends '_templates/base.njk' %}
{% set relative_path = "../" %}
{% from '_macros/prose.njk' import prose %}

{% block page_title %}{{ title }}{% endblock %}

{% block page_description %}{{ title }}{% endblock %}

{% block content %}
<!-- Article -->
<section class="container">
  <div class="row">

<!-- Left column photo -->
    <div class= "order-sm-2 order-lg-2">
    <div class="col-lg-4">
      <figure class="figure resort-photo">
        <img src="{{ relative_path }}img/{{ image }}" alt="{{ title }}" class="img-fluid">
      </figure>
    </div>
    </div>

    <!-- Right column story -->
    <div class= "order-sm-1 order-lg-2">
    <div class="col-lg-8 baked">
      <h1>{{ title }}</h1>
      <section>
        <h4><strong>Location: </strong>{{ location }}</h4>
        <h4><strong>Closest Airport: </strong>{{ airport }}</h4>
        <h4><strong>Elevation: </strong>{{ elevation }}</h4>
        <h4><strong>Ticket Price: </strong>{{ price | safe }}</h4>
      <section>
      <p>{{ blurb }}</p>
    </div>
    </div>

  </div>
</section>
{% endblock %}
