{% extends '_templates/base.njk' %}
{% set relative_path = "../" %}
{% from '_macros/prose.njk' import prose %}

{% block page_title %}{{ title }}{% endblock %}

{% block page_description %}{{ title }}{% endblock %}

{% block content %}
<article class="container">
    <div class="row">
      <div class="col-sm-6">
        <img src="{{ relative_path }}img/{{ image }}" alt="{{ title }}" class="img-fluid">
      </div>
      <div class="col-sm-6">
        <h1>{{ title }}</h1>
        <h4>Location: {{ location }}</h4>
        <h4>Closest Airport: {{ airport }}</h4>
        <h4>Elevation: {{ elevation }}</h4>
        <h4>Ticket Price: {{ price | safe }}</h4>
        <p>{{ blurb }}</p>
      </div>
    </div>
  </article>
{% endblock %}
