{% extends '_templates/base.njk' %}

{% block page_title %}Unites States{% endblock %}

{% block page_description %}A list of pirate ships of lore from fact and fiction.{% endblock %}

{% block content %}
<article class="container">
  <h1>Top Ski Resorts in the United States</h1>
  <p>Intro text here.</p>
  <div class="row row-cols-1">
  {% for resort in usa.resort %}
  <div class="col my-3">
    <div class="card text-bg-light border-dark">
      <div class="card-body">
        <h5 class="card-title">{{ resort.resort_name }}</h5>
        <h6>{{ resort.location }}</h6>
        <p class="card-text">{{ resort.blurb }}</p>
      </div>
      <div class="card-footer">
        <a href="{{ resort.source }}" class="card-link">More about the ski resort</a>
      </div>
    </div>
    {% endfor %}
  </div>
</article>
{% endblock %}