{% extends '_templates/base.njk' %}

{% block page_title %}Unites States{% endblock %}

{% block page_description %}A list of pirate ships of lore from fact and fiction.{% endblock %}

{% block content %}
<article class="container">

  <!-- Intro -->
  <h1>Top Ski Resorts in the United States</h1>
  <p>Below you will find the top ski resorts in the United States. Located in a variety of states across the U.S., these beautiful resorts will give you access to cozy towns and unforgettable views.</p>

  <!-- Cards -->
  <div class="row row-cols-1 row-cols-lg-3 row-cols-md-2">
  {% for resort in usa.resort %}
  <div class="col my-3">
    <div class="card text-bg-light border-dark h-100">
      <img src="{{ relative_path }}img/{{ resort.image }}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title resort-name">{{ resort.resort_name }}</h5>
        <h6>{{ resort.location }}</h6>
        <p class="card-text">{{ resort.blurb }}</p>
      </div>
      <div class="card-footer">
        <a href="{{ resort.source }}" class="card-link">More about {{ resort.resort_name }}</a>
      </div>
    </div>
  </div>
  {% endfor %}
  </div>

</article>
{% endblock %}