#jumbo {
  background: url(../img/jumbotron.png) no-repeat center;
  background-size: cover;
  color: white;
  padding-top: 12rem;
  margin-bottom: 30px;
}

#jumbotext {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.2rem;
}
